apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      component: web
  template:
    metadata:
      labels:
        component: web
    spec:
      containers:
        - name: client
          # image: stephengrider/multi-client
          image: antanasleksas/multi-client
          ports:
            - containerPort: 3000
          # resources:
          #   requests:
          #     ephemeral-storage: 1Gi
          #     memory: "1Gi"
          #     cpu: "250m"
          #   limits:
          #     ephemeral-storage: 2Gi
          #     memory: "4Gi"
          #     cpu: "500m"